
<section class="compare-section page-width desktop-hide">
  <div class="compare-contents">
    <div class="compare_box">
      {%- for block in section.blocks -%}
      <div class="single-box-compare">
        {% if block.settings.image %}
        <div class="single-box-image"> <img src="{{block.settings.image| img_url: 'master'}}" alt=""></div>
        {% endif %}
        <div class="text-center">
        <h4 class="heading">{{ block.settings.text }}</h4>
        <p class="content">{{ block.settings.content }}</p>
        </div>
      </div>
      {%- endfor -%}
    </div>

  </div>
     <div class="btn-box">
    <a class="custom-btn" href="{{section.settings.btn_url}}" >SEE HOW WE COMPARE</a>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
$('.compare_box').slick({
  dots: true,
  infinite: false,
  arrows: false,
  speed: 300,
  slidesToShow: 6,
  slidesToScroll: 6,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
</script>

{% schema %}
{
"name": "Compare Mobile slider",
"tag": "section",
"settings": [
    {
      "type": "text",
      "id": "title_size",
      "label": "Title Font Size"
    },
	{
      "type": "text",
      "id": "content_size",
      "label": "Content Font Size"
    },
  {
    "type": "url",
    "id": "btn_url",
    "label": "Button URl"
  }
],
"blocks": [
    {
      "type": "sider",
      "name": "Slide content",
      "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Block Image"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Block Title"
    },
	{
      "type": "textarea",
      "id": "content",
      "label": "Block content"
    }
  ]
 }
],
"presets": [
{
"name": "Compare Section Mobile slider",
"blocks": [


]
}
]
}

{% endschema %}

{% stylesheet %}
.slick-slide img {
    display: block;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 749px) {
.compare-contents .compare_box .single-box-compare h4{
	font-size: {{ section.settings.title_size }};
}
.compare-contents .compare_box .single-box-compare p{
	font-size: {{ section.settings.content_size }};
}
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
